<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>week4</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
  </head>
  <body>
    <header class="head">
      <h1 class="banner">歡迎光臨，請輸入帳號密碼</h1>
    </header>
    <h1 style="text-align: center">登入系統</h1>
    <form
      action="{{url_for('signin')}}"
      method="POST"
      style="margin: auto; width: 200px"
    >
      <div>
        <label>帳號</label>
        <input type="text" name="username" />
      </div>

      <div>
        <label>密碼</label>
        <input type="password" name="password" />
      </div>
      <div style="text-align: center">
        <button type="submit">登入</button>
      </div>
    </form>

    <hr />

    <div style="text-align: center">
      <label>正整數</label>
      <input type="text" id="num" name="inputNum" />
    </div>
    <div style="text-align: center">
      <input type="submit" value="計算" onclick="return fetchToServer()" />
    </div>

    
  </body>
  <script>
    function fetchToServer(){
      let num = document.getElementById("num").value;
      if(!+num)
      {
        alert("不是數字");
      }
      else{
      //const getUrl = {{ url_for('square',number=num)|tojson }};
      const getUrl = {{ url_for('square',number='')|tojson }}+num;
      fetch(getUrl, {
        "method": "POST",
        "body": num,})
        .then(
          response => {
            if (response.url) {window.location = response.url}
            else {alert("error")}
          }
        )}
      };


  </script>
</html>
